.card-game {
  position: relative;
  margin-bottom: 20px;
}

.card-game img {
  width: 60%;
  border: 2px solid #fff;
  border-radius: 6px;
}

.card-game .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}

.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
